<main class="container links max-w-[992px] mx-auto p-5 flex">
    <div class="flex flex-col space-y-5 m-5 ">
        <a routerLink="/" routerLinkActive="bg-red-700" [routerLinkActiveOptions]="{exact: true}" class="text-center border py-2 px-4 hover:bg-red-300 ">Bootstrap</a>
        <a routerLink="tailwind" routerLinkActive="bg-red-700" class="text-center border py-2 px-4 hover:bg-red-300">Tailwind</a>
        <a routerLink="materialize" routerLinkActive="bg-red-700" class="text-center border py-2 px-4 hover:bg-red-300">Materialize</a>
    </div>
    <div class=" mx-auto m-5">
        <h1 class="text-center text-3xl font-bold">CSS Frameworks</h1>
        <router-outlet></router-outlet>
    </div>
</main>
<app-images></app-images>