<div class="container max-w-[992px] mx-auto flex justify-around">
    <button
        (click)="prevHandle($event)"
        class="border-solid px-2 m-3 py-1 border border-white rounded-l-lg bg-red-500  hover:bg-red-600">&#60;&#60;Prev</button>
    <div>
        <img class="w-100%" border-solid border-white [src]="currentScr" alt={{currentAlt}}>
    </div>
    <button
        (click)="nextHandle($event)"
        class="border-solid px-2 m-3 py-1 border border-white rounded-r-lg bg-red-500  hover:bg-red-600">Next&#62;&#62;</button>
</div>